* {
  all: unset;
}

body {
  background-color: #18171a;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-family: Outfit;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 1rem 5rem;
  z-index: 100;
  position: sticky;
}
.logo {
  font-family: Outfit;
  font-size: 3rem;
  font-weight: 600;
  color: #ff5401;
}

nav {
  gap: 5vw;
}

nav a {
  font-size: 1rem;
  font-family: Outfit;
  font-weight: 500;
  color: #fff;
}

.btn-primary {
  background-image: url(../assets/images/btn-background.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 2rem;
  font-family: Outfit;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: #fff;
}

#hero-section {
  align-items: flex-start !important;
  gap: 3vh;
  margin-top: -8vh;
  height: 100vh;
}

#hero-section video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 99vh;
  z-index: 1;
}

#hero-section .body {
  position: relative;
  z-index: 10;
  align-items: flex-start;
  gap: 3vh;
  background: linear-gradient(to top, rgba(24, 23, 26, 1), rgba(0, 0, 0, 0));
  height: 100%;
  padding: 0rem 50rem 0rem 5rem;
}

#hero-section .body h1 {
  font-family: Orbitron;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  line-height: 5rem;
}

#hero-section .body h1 span {
  -webkit-text-stroke: 0.1rem #ff5401;
  border-width: 0.5rem;
  border-style: solid;
  color: transparent;
}

#hero-section .body p {
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

#sports-section {
  gap: 10vh;
  padding: 6rem;
}

#sports-section .body {
  gap: 4vw;
}

.sport-type-card {
  display: flex;
  border-top-left-radius: 4rem;
  flex: 1;
  height: 30rem;
  justify-content: flex-start;
  align-items: flex-end;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); */
  transition: all 500ms ease;
}

.sport-type-card:hover {
  flex: 4;
}

.sport-type-card .card-body {
  gap: 4vw;
  justify-content: flex-start;
  padding: 1rem;
  background: linear-gradient(to top, rgba(24, 23, 26, 1), rgba(0, 0, 0, 0));
  width: 100%;
  height: 40%;
  align-items: flex-end;
}

.sport-type-card .card-body h3 {
  font-family: Outfit;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}

.sport-type-card .card-body p {
  display: none;
  opacity: 0;
  font-family: Outfit;
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  transition: all 300ms ease;
}

.sport-type-card:hover .card-body p {
  display: flex;
  opacity: 1;
}

#lifeStyle {
  position: relative;
  justify-content: flex-start;
  gap: 5rem;
  padding: 5vh 20vw;
}

#lifeStyle p {
  font-family: Outfit;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.image-container {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 35%;
  background-image: url(../assets/images/image-bg.svg);
  padding: 0.5rem;
  position: relative;
  z-index: 10;
}

#lifeStyle img {
  width: 40rem;
}

.line-wide-1 {
  height: 3rem;
  width: 12rem;
  position: absolute;
  right: 0;
  bottom: 5rem;
  background-color: #ff5401;
  opacity: 0.2;
}
.line-wide-2 {
  height: 3rem;
  width: 25rem;
  position: absolute;
  right: 0;
  bottom: 1rem;
  background-color: #ff5401;
  opacity: 0.2;
}

#classes {
  justify-content: flex-start;
  gap: 5rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../assets/images/classes-bg.png);
  padding: 4vw;
}

#classes .body {
  gap: 4vw;
}

#classes .body .product-card {
  justify-content: flex-start;
  gap: 1rem;
}

#classes .body .product-card > .img-container {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 35%;
  background-image: url(../assets/images/image-bg.svg);
  padding: 0.5rem;
  /* width: 100%; */
}

#classes .body .product-card > .img-container img {
  width: 21rem;
  height: 30vh;
}
#classes .body .product-card .header .right,
#classes .body .product-card .header .left {
  gap: 1rem;
}

#classes .body .product-card .header {
  justify-content: space-between;
  width: 100%;
}

#classes .body .product-card .header span {
  background-color: #ff5401;
  border-radius: 1rem;
  width: 0.7rem;
  height: 0.7rem;
}

#classes .body .product-card .header h4 {
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

#classes .body .product-card .header .left .img {
  width: 2rem;
  height: 2rem;
}

#classes .body .product-card .card-body {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

#classes .body .product-card .card-body .title {
  justify-content: space-between;
  width: 100%;
}
#classes .body .product-card .card-body .title h3 {
  font-family: Outfit;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}

#classes .body .product-card .card-body .title p {
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

#classes .body .product-card .card-body .instructor,
#classes .body .product-card .card-body li {
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

#classes .body .product-card .card-body ul {
  list-style: none;
  padding-left: 0;
  display: contents;
}

#classes .body .product-card .card-body li {
  position: relative;
  padding-left: 20px;
}

#classes .body .product-card .card-body li::before {
  content: "•";
  color: "#fff";
  font-size: 1.2em;
  position: absolute;
  left: 0;
}
#classes .body .product-card .card-body .footer {
  justify-content: space-between;
  width: 100%;
}
.btn-secondary {
  font-size: 1.2rem;
  font-family: Outfit;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #ff5401;
  transform: skew(-20deg, 0deg);
}

.btn-transparent {
  font-size: 1.2rem;
  font-family: Outfit;
  font-weight: 500;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: transparent;
  transform: skew(-20deg, 0deg);
  border-style: solid;
  border-width: 0.1rem;
  border-color: #fff;
}

.btn-secondary span,
.btn-transparent span {
  transform: skew(20deg, 0deg);
}

#instructors {
  padding: 3rem;
  gap: 2rem;
  position: relative;
}

#instructors .body {
  gap: 2rem;
}

.line-wide-3 {
  height: 3rem;
  width: 12rem;
  position: absolute;
  left: 0;
  bottom: 9rem;
  background-color: #ff5401;
  opacity: 0.2;
}
.line-wide-4 {
  height: 3rem;
  width: 25rem;
  position: absolute;
  left: 0;
  bottom: 5rem;
  background-color: #ff5401;
  opacity: 0.2;
}

#instructors .card {
  gap: 1rem;
  position: relative;
  z-index: 99;
}
#instructors .card:hover img {
  outline: solid #ff5401 0.1rem;
}
#instructors .card h3 {
  font-size: 1.5rem;
  font-family: Outfit;
  font-weight: 500;
  color: #fff;
}

#instructors .card p {
  font-size: 0.8rem;
  font-family: Outfit;
  font-weight: 400;
  color: #fff;
}

#faq {
  padding: 4rem;
}

.accordion-header {
  color: #fff;
  padding: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
  font-family: "Outfit";
  width: 70vw;
  position: relative;
}

.accordion-header::after {
  content: "+";
  font-size: 1rem;
  transition: transform 0.3s;
}

.accordion-content {
  padding: 1rem;
  background: rgba(255, 94, 0, 0.3);
  display: none;
  overflow: hidden;
  transition: all 0.3s ease-out;
  transform: skew(-20deg, 0deg);
  width: 70vw;
}
.accordion-divider {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 72vw;
  background-color: #fff;
  transition: width 0.3s ease-out;
}
.accordion-divider.active {
  width: 85vw;
}
.accordion-content p {
  font-size: 1rem;
  font-family: Outfit;
  font-weight: 400;
  color: #fff;
  transform: skew(20deg, 0deg);
}

.active .accordion-content {
  display: block;
}

.active .accordion-header::after {
  transform: rotate(180deg);
}

footer {
  gap: 5rem;
  background-image: url(../assets/images/footer-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2rem;
}

footer img {
  width: 8rem;
}

footer .footer-text {
  width: 70vw;
  font-size: 1.2rem;
  font-family: Outfit;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
footer .social-media {
  gap: 1vw;
}

footer .social-media img {
  width: 2rem;
  height: 2rem;
}
footer hr {
  width: 70vw;
  height: 0.1rem;
  background-color: #fff;
}

footer p {
  font-size: 1.2rem;
  font-family: Outfit;
  font-weight: 500;
  color: #fff;
}

a {
  cursor: pointer;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-3px);
  }
  40% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

.vibrate {
  animation: vibrate 0.3s ease-in-out;
  color: red !important; /* Change color to red */
}

.p-h-2{
  padding:0vh 2vw
}


#toggle {
  display: none;
}

/**
  Hamburger
**/
.hamburger {
  display: none;
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 1000;
}

.hamburger div {
  position: relative;
  width: 3em;
  height: 7px;
  border-radius: 3px;
  background-color: #ff5401;
  transition: all 0.3s ease-in-out;
}

.nav{
  display: none;
}

@media (max-width: 1025px) {
  header {
    padding: 1rem 2rem;
}

  #hero-section .body {
    padding: 0rem 20rem 0rem 5rem;
}
#classes .body .product-card > .img-container {
  background-size: 100% 20%;
}
  #classes .body .product-card > .img-container img {
    width: 15rem;
    height: 30vh;
}
.btn-secondary {
  font-size: 0.9rem;
}
.btn-transparent {
  font-size: 0.9rem;
}

#instructors .body .card img{
  width: 10rem;
}

#classes .body .product-card .card-body .title h3 {
  font-size: 1.1rem;
}
.product-card:last-child {
  display: none;
}

#sports-section .body{
  flex-wrap: wrap;
}

.sport-type-card {
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}

.sport-type-card .card-body {
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
}
.sport-type-card .card-body p {
  display: flex;
  opacity: 1;
  text-align: center;
}
.line-wide-4 {
  width: 20rem;
}
}

#dropArea {
  border: 2px dashed #fff;
  border-radius: 1rem;
  width: 30rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s;
}
/* Highlight state on drag over */
#dropArea.highlight {
  border-color: #ff5401;
  color:#ff5401;
}
/* Optional: hide file input so only the box is visible */
#fileInput {
  display: none;
}

#addUser{
  position: relative;
  height:80vh;
  width:100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
}
form {
  background: rgba(255, 255, 255, 0.3);
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form a {
  text-decoration: none;
  color: #ddd;
  font-size: 12px;
}
form a:hover {
  text-shadow: 2px 2px 6px #000 40;
}
form a:active {
  text-shadow: none;
}
form input {
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Outfit, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);


}
form input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type="email"]:focus, form input[type="password"]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}
form input[type="button"]:hover {
  cursor: pointer;
}
form input[type="button"]:active {
  background: rgba(255, 255, 255, 0.2);
}
form:hover {
  margin: 4px;
}
::placeholder {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.drop {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}
.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}
.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}
.drop-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}
.drop-4 {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}
.drop-5 {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}
a, input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

